body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Da 2', cursive;
 
  background-color: rgba(233, 245, 235, 0.993); 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

button {
  cursor: pointer;
}
